* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    padding: 1rem;
    font-family: "Roboto", sans-serif;
}

input {
    background: transparent;
    font-size: clamp(1rem, 3.5vw, 1.5rem);
}

input:focus {
    outline: none;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

h2 {
    font-size: clamp(1.3rem, 2.5vw, 1.7rem);
}

h3 {
    margin-top: .5rem;
    font-size: clamp(.5rem, 20vw, 1rem);
}
